<div class="artist-box" *ngIf="artist">

    <div id="artist-head-card">

        <div class="image" *ngIf="artist.image && artist.image !== 'null'">
            <img src="{{url+ 'get-image-artist/' + artist.image}}" alt="Imagen del Artista">
        </div>

        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="description">
                {{artist.description}}
            </p>
            <a *ngIf="identity.role=='ROLE_ADMIN'" class="btn btn-default" [routerLink]="['/crear-album',artist._id]">
                Añadir Álbum
            </a>
        </div>
    </div>


    <div class="clearfix"></div>

    <div class="gallery-albums" *ngIf="albums">
        <ul class='album-list'>
            <li *ngFor="let album of albums" class="col-lg-3 album-item">
                <div class="album-image">
                    <img src="{{url+ 'get-image-album/' + album.image}}" alt="Imagen del Álbum">
                </div>
                <div class="album-name">
                    <p>
                        <a [routerLink]="['/album',album._id]">
                            {{album.title}}
                        </a>
                    </p>
                    <p>
                        <a [routerLink]="['/artist',album.artist._id]">
                            {{album.artist.name}}
                        </a>
                    </p>
                    <div class="buttons" *ngIf="identity.role=='ROLE_ADMIN'">
                        <a [routerLink]="['/editar-album',album._id]" class="btn btn-sm btn-warning">Editar</a>
                        <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
                    </div>
                    <div class="seguro" *ngIf="confirmado == album._id">
                        <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
                        <a (click)="onCancelDeleteAlbum()" class="btn btn-sm btn-primary">Cancelar</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>